@model EntityLayer.Concrete.Writer
@{
    ViewBag.Title = "WriterAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using(Html.BeginForm("WriterAdd","AdminWriter",FormMethod.Post,new {enctype="multipart/form-data"}))
{
    <div class="form-group">
        @Html.Label("Yazar Adı")
        @Html.TextBoxFor(w => w.WriterName, new { @class = "form-control" })
        <br />
        @Html.Label("Yazar Soyadı")
        @Html.TextBoxFor(w => w.WriterSurname, new { @class = "form-control" })
        <br />
        @Html.Label("Yazar Hakkında")
        @Html.TextBoxFor(w => w.WriterAbout, new { @class = "form-control" })
        <br />
        @Html.Label("Yazar Resmi")
        <input type="file" name="WriterImage" />
        <br />
        @Html.Label("Yazar Mail")
        @Html.TextBoxFor(w => w.WriterMail, new { @class = "form-control" })
        <br />
        @Html.Label("Yazar Şifre")
        @Html.TextBoxFor(w => w.WriterPassaword, new { @class = "form-control" })

    </div>
    <button class="btn btn-info">Kaydet</button>
}
